<!DOCTYPE html>
<html lang="en">
<head>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
    
</head>
<body>
    <div>
        <h2>Hint Text Message</h2>
        <span id="text-message-hint"></span>
    </div>

    <h2>Game Panel</h2>
    <div class="control">
      <section class="fuel" data-selected="hydrogen">
          <h2>Fuel</h2>
        <div class="button red" id="unobtainium" onclick="record(this); sendState(this, { totallyInRed: true });"></div>
        <div class="button yellow" id="dilithium" onclick="record(this); sendState(this);"></div>
        <span class="label">unobtainium</span>
        <span class="label">dilithium</span>
        <div class="button green" id="hydrogen" onclick="record(this); sendState(this);"></div>
        <div class="button purple" id="quantonium" onclick="record(this); sendState(this);"></div>
        <span class="label">hydrogen</span>
        <span class="label">quantonium</span>
        <div class="button orange" id="schwartz" onclick="record(this); sendState(this);"></div>
        <div class="button blue" id="nuclear" onclick="record(this); sendState(this);"></div>
        <span class="label">schwartz</span>
        <span class="label">nuclear</span>
      </section>
      <section class="warp">
        <h2>Warp</h2>
        <fieldset class="lever" data-selected="warp1">
          <input type="radio" id="warp5" name="warp" value="5" onclick="record(this); sendState(this);">
          <label class="speed" for="warp5">5</label>
          <input type="radio" id="warp4" name="warp" value="4" onclick="record(this); sendState(this);">
          <label class="speed" for="warp4">4</label>
          <input type="radio" id="warp3" name="warp" value="3" onclick="record(this); sendState(this);">
          <label class="speed" for="warp3">3</label>
          <input type="radio" id="warp2" name="warp" value="2" onclick="record(this); sendState(this);">
          <label class="speed" for="warp2">2</label>
          <input type="radio" id="warp1" name="warp" value="1" checked="checked" onclick="record(this); sendState(this);">
          <label class="speed" for="warp1">1</label>
        </fieldset>
      </section>
      <section class="dial">
        <div class="dial-hand"></div>
        <div class="dial-container">
          <div class="dial-meter"></div>
        </div>
      </section>
      <section class="switches">
        <label class="switch">
          <input class="switch-check" type="checkbox">
          <span class="slider round"></span>
        </label>
        <label class="switch">
          <input class="switch-check" type="checkbox">
          <span class="slider round"></span>
        </label>
        <label class="switch">
          <input class="switch-check" type="checkbox">
          <span class="slider round"></span>
        </label>
      </section>
    </div>

    <div>
        <!-- Game is currently autostarted each refresh for debugging simplicity -->
        <!--- button onclick="startGame();">Start Game</!--- button-->
    </div>
</body>
</html>
