<!DOCTYPE html>
<html lang="en">
<head>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
    
</head>
<body>
    <button data-start-game>Start Game</button>

    <h2>Hint Text Message</h2>
    <span id="text-message-hint"></span>
  
    <h2>Game Panel</h2>
    <div class="control" id="control">
      <section class="buttons" data-selected="hydrogen">
        <h2>Fuel</h2>
        <div class="button red" id="unobtainium" data-clickable data-hint="I'm feeling flush, lets run on unobtanium"></div>
        <div class="button yellow" id="dilithium" data-clickable data-hint="We need a boost, swap to dilithium"></div>
        <span class="label">unobtainium</span>
        <span class="label">dilithium</span>
        <div class="button green" id="hydrogen" data-clickable data-hint="We're out of crystals, use the hydrogen fuel cells!"></div>
        <div class="button blue" id="nuclear" data-clickable data-hint="Set to nuclear! Unleash the power of the atom!"></div>
        <span class="label">hydrogen</span>
        <span class="label">nuclear</span>
      </section>
      <section class="sliding">
        <h2>Warp</h2>
          <ul class="warp">
            <li class="warpno">- 5</li>
            <li class="warpno">- 4</li>
            <li class="warpno">- 3</li>
            <li class="warpno">- 2</li>
            <li class="warpno">- 1</li>
          </ul>
          <input type="range" min="1" max="5" value="1" class="slider" id="warp-slider" data-clickable data-hint="Warp speed ${target}">
      </section>

      <section class="dial">
        <h4 class="dial-name">uh-ohmmeter</h4>
        <div class="dial-hand"></div>
        <div class="dial-container">
          <div class="dial-meter"></div>
        </div>
      </section>
      <section class="switches">
        <label class="switch">
          <h3>shields</h3>
          <input class="switch-check" id="shields" type="checkbox" data-sound="click2" data-clickable data-hint="We're being shot at! Shields up!">
          <span class="snick"></span>
        </label>
        <label class="switch">
          <h3>gravity</h3>
          <input class="switch-check" id="gravity" type="checkbox" data-sound="click2" data-clickable>
          <span class="snick"></span>
        </label>
        <label class="switch">
          <h3>wifi</h3>
          <input class="switch-check" id="wifi" type="checkbox" data-sound="click2" data-clickable data-hint="urgh, wifi has gone down, switch it off and on again">
          <span class="snick"></span>
        </label>
      </section>
      <section class="lights">
        <div class="light" id="redalert">
          <div class="knob" id="redalertknob" data-clickable></div>
          <div class="sticker">Alert</div>
          <div class="bulb"><span class="glow"></span></div>
        </div>
        <div class="light" id="amberalert">
          <div class="knob" id="amberalertknob" data-clickable></div>
          <div class="sticker">Alert</div>
          <div class="bulb"><span class="glow"></span></div>
        </div>
        <div class="light" id="pod">
          <div class="knob" id="podknob" data-clickable></div>
          <div class="sticker">jettison pod</div>
          <div class="bulb"><span class="glow"></span></div>
        </div>
      </section>
      <section class="array">
        <div class="array-item" data-clickable id="phalange" data-hint="Do we even have a left phalange?!"><span class="array-item-label">left phalange</span></div>
        <div class="array-item" data-clickable id="multipass" data-hint="Print out multipass"><span class="array-item-label">multipass</span></div>
        <div class="array-item" data-clickable id="grabthar" data-hint="By Grabthar's hammer!"><span class="array-item-label">avenge</span></div>
        <div class="array-item" data-clickable id="groot" data-hint="I am Groot"><span class="array-item-label">I am Groot</span></div>
        <div class="array-item" data-clickable id="answer" data-hint="We need the answer to Life, the Universe and everything"><span class="array-item-label">42</span></div>
        <div class="array-item" data-clickable id="ghostbusters" data-hint="We're experiencing total protonic reversal!"><span class="array-item-label">uncross streams</span></div>
        <div class="array-item" data-clickable id="tea" data-hint="Tea. Earl Grey. Hot."><span class="array-item-label">brew</span></div>
      </section>
    </div>

</body>
</html>