<!DOCTYPE html>
<html lang="en">
<head>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
    
</head>
<body>
  
    <div>
        <button style="display: block;" onclick="startGame('07764444444');">Start Game</button>
    </div>
  
    <div>
        <h2>Hint Text Message</h2>
        <span id="text-message-hint"></span>
    </div>
  
    <h2>Game Panel</h2>
    <div class="control">
      <section class="buttons" data-selected="hydrogen">
          <h2>Fuel</h2>
        <div class="button red" id="unobtainium" onclick="sendState(this);"></div>
        <div class="button yellow" id="dilithium" onclick="sendState(this);"></div>
        <span class="label">unobtainium</span>
        <span class="label">dilithium</span>
        <div class="button green" id="hydrogen" onclick="sendState(this);"></div>
        <div class="button purple" id="quantonium" onclick="sendState(this);"></div>
        <span class="label">hydrogen</span>
        <span class="label">quantonium</span>
        <div class="button orange" id="schwartz" onclick="sendState(this);"></div>
        <div class="button blue" id="nuclear" onclick="sendState(this);"></div>
        <span class="label">schwartz</span>
        <span class="label">nuclear</span>
      </section>
      <section class="levers">
        <h2>Warp</h2>
        <fieldset class="lever" data-selected="warp1">
          <input type="radio" id="warp5" name="warp" value="5" onclick="sendState(this);">
          <label class="speed" for="warp5">5</label>
          <input type="radio" id="warp4" name="warp" value="4" onclick="sendState(this);">
          <label class="speed" for="warp4">4</label>
          <input type="radio" id="warp3" name="warp" value="3" onclick="sendState(this);">
          <label class="speed" for="warp3">3</label>
          <input type="radio" id="warp2" name="warp" value="2" onclick="sendState(this);">
          <label class="speed" for="warp2">2</label>
          <input type="radio" id="warp1" name="warp" value="1" checked="checked" onclick="sendState(this);">
          <label class="speed" for="warp1">1</label>
        </fieldset>
      </section>
      <section class="dial">
        <h4 class="dial-name">uh-ohmmeter</h4>
        <div class="dial-hand"></div>
        <div class="dial-container">
          <div class="dial-meter"></div>
        </div>
      </section>
      <section class="switches">
        <h3>shields</h3>
        <label class="switch">
          <input class="switch-check" id="shields" type="checkbox" data-sound="click2" onclick="sendState(this, { enabled: this.checked });">
          <span class="slider round"></span>
        </label>
        <h3>gravity</h3>
        <label class="switch">
          <input class="switch-check" id="gravity" type="checkbox" data-sound="click2" onclick="sendState(this, { enabled: this.checked });">
          <span class="slider round"></span>
        </label>
        <h3>wifi</h3>
        <label class="switch">
          <input class="switch-check" id="wifi" type="checkbox" data-sound="click2" onclick="sendState(this, { enabled: this.checked });">
          <span class="slider round"></span>
        </label>
      </section>
      <section class="lights" data-selected="redalert">
        <div class="light" id="redalert">
          <div class="knob" id="redalertknob"></div>
          <div class="sticker">Alert</div>
          <div class="bulb"><span class="glow"></span></div>
        </div>
        <div class="light" id="amberalert">
          <div class="knob" id="amberalertknob"></div>
          <div class="sticker">Alert</div>
          <div class="bulb"></div>
        </div>
        <div class="light" id="pod">
          <div class="knob" id="podknob"></div>
          <div class="sticker">jettison pod</div>
          <div class="bulb"></div>
        </div>
      </section>
    </div>

</body>
</html>
