<!DOCTYPE html>
<html lang="en">
  <head>
      <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="/style.css">
      <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">    
  </head>
  <body style="overflow: auto;">
    <h1>Instructions &nbsp;&nbsp;<div class="glitchButton"></div><script src="https://button.glitch.me/button.js"></script>
    </h1>
    <section class="intro">
      <h2 class="intro-title">What is this?</h2>
      <p class="intro-text">This game is an example of sending realtime data to an Ably channel for use by another application.</p>
      <p class="intro-text">In order to play the game we will be using Ably Reactor tools which will trigger an IfThisThenThat rule to post the next move of the game to a Slack channel. (<span class="important">Don't worry, these instructions look long, but the process is actually very quick!</span>)</p>
      <h3 class="intro-subtitle">Remix the game</h3>
      <p class="intro-text">Click the Glitch icon above &#8673;&#8673;&#8673; to remix the game for editing</p>
      <h3 class="intro-subtitle">You will need:</h3>
      <ul>
        <li>An Ably account - you can login or sign up for free at <a class="intro-link" href="https://www.ably.io/">https://www.ably.io/</a></li>
        <li>IFTTT account, login or sign up at <a class="intro-link" href="https://ifttt.com/">https://ifttt.com/</a></li>
        <li>A Slack account and a workspace to send messages to, sign in or create a workspace at <a class="intro-link" href="https://slack.com/signin">https://slack.com/signin</a></li>
      </ul>
  
      <h2 class="intro-title">Setup</h2>

      <p class="intro-text">The game needs your Ably API key in order to publish messages to a channel</p>

      <p class="intro-text">Log into your Ably dashboard and select or create an app to use for this game (the "Sandbox" app is probably fine), then click "Manage App".</p>

      <p class="intro-text">Select the "API Keys" tab, and click "Create a new API key":</p>

      <ol>
        <li>Enter a name for your API key</li>
        <li>Select only the "publish" and "subscribe" options</li>
        <li>Click the "Create key" button</li>
      </ol>

      <p class="intro-text">Scroll down if necessary, and copy your new API key. Paste the API key in the <span class="code">.env</span> file in the game's root directory.</p>

      <h2 class="intro-title">Creating an Ably Reactor Rule</h2>

      <p class="intro-text">We'll need to create a Reactor Event Rule in your Ably dashboard. This is what will trigger the IFTTT event.</p>

      <ol>
        <li>Go to your Ably Dashboard</li>
        <li>Choose the "Reactor" tab</li>
        <li>Click "New Reactor Rule" button</li>
        <li>Click the "Choose" button under "Reactor Event" type</li>
      </ol>

      <h2 class="intro-title">Creating an IFTTT Reactor Event</h2>

      <p class="intro-text">Choose the "IFTTT" service integration option</p>

      <p class="intro-text">On the resulting form we'll need an IFTTT key to connect Ably to IFTTT with webhooks.</p>

      <ol>
        <li>Click the "<b>open IFTTT Webhook Settings</b>" button (this will take you to the IFTTT web app)</li>
        <li>On the resulting page click "<b>Documentation</b>"</li>
        <li>Copy your key from the top of the documentation page</li>
        <li>Go back to your Ably Reactor Integration Rule Settings</li>
        <li>Paste the key into the "IFTTT Webhook key" input.</li>
        <li>Give the Webhook event a name (eg channel_message_published)</li>
        <li>Set up a channel filter if necessary</li>
        <li>Click "<b>Create</b>"</li>
      </ol>

      <p class="intro-text">You have now set up an IFTTT Reactor event, but we'll also need to create an Applet on IFTTT for it to trigger.</p>

      <h2 class="intro-title">Creating an IFTTT Applet</h2>

      <ol>
        <li>Visit <a class="intro-link" href="https://ifttt.com/">https://ifttt.com/</a> (log in if you have not already)</li>
        <li>Click "<b>Explore</b>" in the top right hand corner</li>
        <li>Scroll until you find the "<b>Create your own</b>" button (or visit <a class="intro-link" href="https://ifttt.com/create">https://ifttt.com/create</a>)</li>
        <li>Search for "webhooks" in the searchbox</li>
        <li>Click the "<b>Webhooks</b>" button</li>
        <li>Click the "<b>Receive a web request</b>" section</li>
        <li>Add the name for the Webhook event that you created earlier (eg channel_message_published)</li>
      </ol>

      <p class="intro-text">Next we will need to choose a service that we want to hook our published message up to. In this case we're going to choose Slack, but you could use any number or services that IFTTT provides.</p>

      <ol>
        <li>Click the "<b>&plus; That</b>" which should now be presented to you</li>
        <li>Search for Slack</li>
        <li>Click "<b>Slack</b>"</li>
        <li>Click "<b>Connect</b>"</li>
        <li>Log in to your slack workplace in the resulting popup</li>
        <li>Allow the requested permissions</li>
      </ol>

      <p class="intro-text">The final stage of our setup will be choosing an action to trigger in Slack. In this case we want to post to a channel. The IFTTT Slack service allows you to post to channels, to private groups or to send direct messages. For the purpose of this tutorial we'll be sending ourselves private messages (for the sake of not filling your slack channels with messages!)</p>

      <p class="intro-text">We'll be sending the body of the message that was published to your Ably channel to slack, so for this tutorial we're only going to send one value as the message body, but you could customise this as much as you like.</p>

      <ol>
        <li>Click "<b>Post to channel</b>"</li>
        <li>In the resulting form, under "Which channnel":</li>
        <li>Select Direct Messages </li>
        <li>Select your own Slack handle</li>
        <li>Under "Message":</li>
        <li>Delete the content in the textbox </li>
        <li>Click "<b>Add ingredient</b>"</li>
        <li>Add "Value1"</li>
        <li>Under "Title URL" add "Captain Picard" (or the captain name of your choice!)</li>
        <li>You can even add a thumbnail avatar of your captain if you'd like by pasting a url to your chosen image</li>
        <li>Click "<b>Create Action</b>"</li>
        <li>Click "<b>Finish</b>"</li>
      </ol>

     <p class="intro-text">You have now set up your Ably channel to post to Slack using IFTTT and can play the game!</p>
    </section>
    
  </body>
</html>