/* styles */
/* called by your view template */

:root {
  --turquoise: #1abc9c;
  --green: #2ecc71;
  --blue: #3498db;
  --purple: #9b59b6;
  --indigo: #34495e;
  --turquoise-dark: #16a085;
  --green-dark: #27ae60;
  --blue-dark: #2980b9;
  --purple-dark: #8e44ad;
  --indigo-dark: #2c3e50;
  --yellow: #f1c40f;
  --orange: #e67e22;
  --red: #e74c3c;
  --white: #ecf0f1;
  --grey: #95a5a6;
  --yellow-dark: #f39c12;
  --orange-dark: #d35400;
  --red-dark: #c0392b;
  --white-dark: #bdc3c7;
  --grey-dark: #7f8c8d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fffwhite;
}

.control {
  background-color: var(--white);
}