/* styles */
/* called by your view template */

:root {
  --turquoise: #1abc9c;
  --green: #2ecc71;
  --blue: #3498db;
  --purple: #9b59b6;
  --indigo: #34495e;
  --turquoise-dark: #16a085;
  --green-dark: #27ae60;
  --blue-dark: #2980b9;
  --blue-vdark: #164564;
  --purple-dark: #8e44ad;
  --purple-vdark: #512763;
  --indigo-dark: #2c3e50;
  --yellow: #f1c40f;
  --orange: #e67e22;
  --red: #e74c3c;
  --white: #ecf0f1;
  --grey: #95a5a6;
  --yellow-dark: #f39c12;
  --yellow-vdark: #966008;
  --orange-dark: #d35400;
  --orange-vdark: #6b2b00;
  --red-dark: #c0392b;
  --red-vdark: #7e150c;
  --white-dark: #bdc3c7;
  --grey-dark: #7f8c8d;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fffwhite;
}

h2 {
  width: 100%;
  margin-top: 0;
  flex-shrink: 0;
  color: var(--indigo-dark);
  text-align: center;
}

h3 {
  margin-bottom: 0.5em;
  color: var(--indigo-dark);
}

.control {
  display: grid;
  grid-template-areas: 
      "buttons lever dial alerts"
      "buttons lever toggle alerts";
  grid-template-columns: 240px 240px 350px 400px;
  padding: 40px;
  background-color: var(--white);
}

.buttons {
  grid-area: buttons;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 20px;
}

.button {
  position: relative;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  margin: 10px 20px;
  border: 3px solid var(--indigo);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
}

.button:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(255,255,255,1);
  box-shadow: 0px 0px 10px 5px rgba(255,255,255,1);

}

.button:hover {
  transition: all;
  transform: translate(0px, 3px);
  box-shadow: none;
}

.label {
  display: block;
  width: 100px;
  margin-bottom: 10px;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  color: var(--grey-dark);
}

.levers {
  grid-area: lever;
  height: 390px;
  margin: 0 20px;
  padding: 20px 40px 40px;
  border: 3px solid var(--indigo);
  border-radius: 10px;
  background-color: var(--white-dark);
}

.lever {
  position: relative;
  height: 260px;
  padding: 0;
  margin: 0;
  border: 0;
}

.lever:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  width: 30px;
  height: 100%;
  background-color: var(--indigo);
  transform: translate(-50%, 0%);
  box-shadow: inset 4px 6px 2px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.speed {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  list-style: none;
  height: 20%;
  text-align: right;
  z-index: 2;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.lever:after {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  width: 130%;
  height: 30px;
  border-radius: 5px;
  background-color: var(--red);
  background: linear-gradient(0deg, var(--red) 30%, #ffa198 66%, var(--red) 70%);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  transform: translate(-50%, -20px);
  transition: transform 0.4s ease-in-out;
  z-index: 2;
}

.dial {
  grid-area: dial;
  position: relative;
  height: 150px;
  margin: 0 40px;
  padding: 20px 40px;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: inset 3px 2px 3px 1px rgba(0,0,0,0.1);
  z-index: 1;
}

.dial-container {
  position: relative;
  width: 200px;
  height: 100px;
  overflow: hidden;
}

.dial-name {
  font-weight: normal;
  font-size: 0.8em;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  color: var(--grey-dark);
}

.dial-meter {
  position: relative;
  top: 20px;
  left: 50%;
  display: inline-block;
  height: 200px;
  width: 300px;
  margin: 0 1em 1em 0;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border: 2px solid var(--indigo);
  transform: translate(-50%, 0);
}

.dial-meter:after {
  content: "";
  position: relative;
  top: 2px;
  left: 50%;
  display: inline-block;
  height: 190px;
  width: 290px;
  margin: 0 1em 1em 0;
  border-top-left-radius: 290px;
  border-top-right-radius: 290px;
  border: 2px solid var(--indigo);
  transform: translate(-50%, 0);
}

.dial-hand {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 3px;
  height: 130px;
  background-color: var(--red);
  transform: translate(-50%, 0);
  animation: move 5s infinite;
  transform: rotate(0deg);
  transform-origin: bottom;
}

.dial:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--white);
  transform: translate(-50%, 10px);
  box-shadow: 3px 2px 3px 1px rgba(0,0,0,0.1); 
}

@keyframes move {
    0% {
        transform:rotate(-45deg);
    }
    10% {
        transform:rotate(-30deg);
    }
    20% {
        transform:rotate(-45deg);
    }
    30% {
        transform:rotate(20deg);
    }
    40% {
        transform:rotate(-45deg);
    }
    50% {
        transform:rotate(-45deg);
    }
    60% {
        transform:rotate(20deg);
    }
    70% {
        transform:rotate(-45deg);
    }
    80% {
        transform:rotate(20deg);
    }
    90% {
        transform:rotate(30deg);
    }
    100% {
        transform:rotate(-45deg);
    }
}

.switches {
  grid-area: toggle;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 50px;
}

.switch-check {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 30px;
  background-color: var(--grey-dark);
  overflow: hidden;
  transition: .4s;
  box-shadow: inset 4px 6px 3px 0px rgba(0, 0, 0, 0.75);
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: var(--red);
  transition: .4s;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}

.switch-check:checked + .slider {
  background-color: var(--indigo);
}

.switch-check:checked + .slider:before {
  background-color: var(--green);
}

.switch-check:checked + .slider:before {
  transform: translateX(50px);
}

.lights {
  grid-area: alerts;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  height: 380px;
  margin: 0 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--indigo);
}

.light {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.knob {
  flex-shrink: 0;
  width: 85px;
  height: 85px;
  border: 15px solid var(--indigo-dark);
  border-radius: 50%;
  background-color: white;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
  background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(128,128,128,1) 85%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%); /* w3c */
  cursor: pointer;
}

.sticker {
  width: min-content;
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--indigo);
  background-color: white;
}

.bulb {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background:radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 8%, rgba(128,128,128,1) 85%, rgba(0,0,0,1) 98%, rgba(0,0,0,1) 100%);
  box-shadow: inset 3px -3px 3px 0px rgba(0,0,0,0.3);
}

.bulb:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--red);
  mix-blend-mode: multiply;
  box-shadow: inset -10px 10px 5px 0px rgba(0,0,0,0.3);
}

.bulb:before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(255,255,255,1);
  z-index: 1;
}

#amberalert .bulb:after {
  background-color: var(--yellow-dark);
}

#pod .bulb:after {
  background-color: var(--green-dark);
}

.glow {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid white;
}

#redalert .glow {
  box-shadow: 0px 0px 58px 37px rgba(255, 133, 120, 0.7)
}


.lights[data-selected="redalert"] #redalert .bulb {
  background: white;
} 

.lights[data-selected="redalert"] #redalert .bulb:after {
  
}


.buttons[data-selected="unobtainium"] #unobtainium {
  transform: translate(0px, 3px);
  box-shadow: 0px 0px 20px 6px #ff8d80;
  background-color: var(--red);
}
.buttons[data-selected="dilithium"] #dilithium {
  transform: translate(0px, 3px);
  box-shadow: 0px 0px 20px 6px #ffe47b;
  background-color: var(--yellow);
}

.buttons[data-selected="hydrogen"] #hydrogen {
  transform: translate(0px, 3px);
  box-shadow: 0px 0px 20px 6px #66ffa7;
  background-color: var(--green);
}

.buttons[data-selected="quantonium"] #quantonium {
  transform: translate(0px, 3px);
  box-shadow: 0px 0px 20px 6px #e094ff;
  background-color: var(--purple);
}

.buttons[data-selected="schwartz"] #schwartz {
  transform: translate(0px, 3px);
  box-shadow: 0px 0px 20px 6px #ffc693;
  background-color: var(--orange);
}

.buttons[data-selected="nuclear"] #nuclear {
  transform: translate(0px, 3px);
  box-shadow: 0px 0px 20px 6px #69c3ff;
  background-color: var(--blue);
}

.lever[data-selected="warp5"]:after {
  transform: translate(-50%, -260px)
}
.lever[data-selected="warp4"]:after {
  transform: translate(-50%, -200px)
}
.lever[data-selected="warp3"]:after {
  transform: translate(-50%, -150px)
}
.lever[data-selected="warp2"]:after {
  transform: translate(-50%, -100px)
}
.lever[data-selected="warp1"]:after {
  transform: translate(-50%, -20px)
}

.red {
  background-color: var(--red-vdark);
}
.green {
  background-color: var(--green-vdark);
}
.yellow {
  background-color: var(--yellow-vdark);
}
.turquoise {
  background-color: var(--turquoise-vdark);
}
.orange {
  background-color: var(--orange-vdark);
}
.purple {
  background-color: var(--purple-vdark);
}
.blue {
  background-color: var(--blue-vdark);
}

.red:hover {
  background-color: var(--red);
}
.green:hover {
  background-color: var(--green);
}
.yellow:hover {
  background-color: var(--yellow);
}
.turquoise:hover {
  background-color: var(--turquoise);
}
.orange:hover {
  background-color: var(--orange);
}
.purple:hover {
  background-color: var(--purple);
}
.blue:hover {
  background-color: var(--blue);
}