/* styles */
/* called by your view template */

:root {
  --turquoise: #1abc9c;
  --turquoise-dark: #2ecc71;
  --blue: #3498db;
  --amethyst: #9b59b6;
  --wet-asphalt: #34495e;
  --green-sea: #16a085;
  --nephritis: #27ae60;
  --blue-dark: #2980b9;
  --wisteria: #8e44ad;
  --midnight-blue: #2c3e50;
  --sun-flower: #f1c40f;
  --carrot: #e67e22;
  --alizarin: #e74c3c;
  --clouds: #ecf0f1;
  --concrete: #95a5a6;
  --orange: #f39c12;
  --pumpkin: #d35400;
  --pomegranate: #c0392b;
  --silver: #bdc3c7;
  --asbestos: #7f8c8d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.control {
  background-color: var(--silver);
}